<!doctype html>
<html>
    <head>
        <title>Mate-Automat</title>
        <style>
            .error {
                border: 1px solid red;
                background-color: rosybrown;
            }
        </style>
    </head>
    <body>
        <h1>Mate-Automat</h1>
        {% if error_message %}
            <div class="error">
                {{ error_message }}
            </div>
        {% endif %}
        <form action="/" method="post" enctype="application/x-www-form-urlencoded">
            <label>Anzahl: <input type="number" name="amount" value="1"></label>
            <button type="submit" name="order_button">gib mit mate</button>
        </form>
    </body>
</html>